<div style="margin-bottom: 40px;">
    <table class="td" cellspacing="0" cellpadding="6" style="width: 100%; font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; border:1px" >
        <thead>
            <tr>
                <th class="td" scope="col" style="text-align:left;">{{ details.tiles.product }}</th>
                <th class="td" scope="col" style="text-align:left;">{{ details.tiles.quantity }}</th>
                <th class="td" scope="col" style="text-align:left;">{{ details.tiles.price }}</th>
                <th class="td" scope="col" style="text-align:left;">{{ details.tiles.total }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ details.product_name }}<br>{{ details.product_detail }}</td>
                <td>{{ details.product_quant }}</td>
                <td>{{ details.product_price }}</td>
                <td>{{ details.product_price_total }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3">{{ details.order_total }}</th>
            </tr>
        </tfoot>
    </table>
</div>