{% extends "emails/base.html" %}
{% load i18n %}

{% block title %}{% translate "Bienvenido a ROW Ticket Argentina" %}{% endblock %}

{% block content %}
  <p style="margin: 0 0 16px;">
    {% blocktranslate with user_name=user.first_name %}Hola {{ user_name }},{% endblocktranslate %}
  </p>
  <p style="margin: 0 0 16px;">
    {% blocktranslate %}
    Bienvenido a RowTicket, el sitio preferido para comprar y vender entradas. Garantizamos y aseguramos el intercambio de tickets entre compradores y vendedores !
    {% endblocktranslate %}
    Para comprar tus entradas  <a href="{{ my_account_url }}" rel="nofollow" style="color: #feb12a; font-weight: normal; text-decoration: underline;">{{ my_account_url }}</a>
    Para vender tus entradas  <a href="mailto:vendedores@rowticket.com" rel="nofollow" style="color: #feb12a; font-weight: normal; text-decoration: underline;">vendedores@rowticket.com</a>
  </p>
  <p style="margin: 0 0 16px;">{% translate "Esperamos verte pronto." %}</p>
{% endblock %}
